

.navigation {
  
    background-color:black;
    text-align: right;
    display: block; 
    padding: 0 8px; 
    font-size: 20pt;
    color: white;
    font-weight: bold; 
    margin-right: 6px;
    font-family: Indie Flower;
    
}

.top{

   background-color:black;
    text-align: center;
    display: block; 
    padding: 0 8px; 
    color: white;
    font-size: 50pt;
    margin-right: 6px;
    font-family: Indie Flower;


}

.top1{
     position: top;
     color: white;
     width:100%;
     align-content: left;
     border: 5px solid white;
     display: inline-block;
    font-family: Indie Flower; 
    text-align: right;
     
}
    
.headers{
 
   background-color:black;
    text-align: center;
    display: block; 
    padding: 0 8px; 
    color: white;
    font-size: 30pt;
    margin-right: 6px;
    font-family: Indie Flower;
    font-weight: bold;
    background:black

}

.wrapper{
    font-family: "Georgia, 'Times New Roman', Times, seri";
    font-size: 15px;
    text-align: left;
	margin: 20 px;
    width: 100%;
    padding: 10px;
    background:black;
    background-size: 100% ;
    color: white;
}
   
.table { 

    width: 100%;
    height: auto;
    font-size: 20pt;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    text-align: left;
    color: white; 
    border: 10px;
}
